### Ordinal Number Encoding

In [1]:
import datetime

In [2]:
today_date=datetime.datetime.today()

In [3]:
today_date

datetime.datetime(2022, 4, 18, 12, 29, 14, 937674)

In [5]:
#Subtracts the current day - 3

today_date-datetime.timedelta(3)

datetime.datetime(2022, 4, 15, 12, 29, 14, 937674)

In [6]:
#### List Comprehension
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [9]:
days

[datetime.datetime(2022, 4, 18, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 17, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 16, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 15, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 14, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 13, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 12, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 11, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 10, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 9, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 8, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 7, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 6, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 5, 12, 29, 14, 937674),
 datetime.datetime(2022, 4, 4, 12, 29, 14, 937674)]

In [8]:
import pandas as pd
data=pd.DataFrame(days)
data.columns=["Day"]

In [10]:
data.head()

                         Day
0 2022-04-18 12:29:14.937674
1 2022-04-17 12:29:14.937674
2 2022-04-16 12:29:14.937674
3 2022-04-15 12:29:14.937674
4 2022-04-14 12:29:14.937674

In [21]:
data['weekday']=data['Day'].dt.day_name()
data.head()

                         Day   weekday
0 2022-04-18 12:29:14.937674    Monday
1 2022-04-17 12:29:14.937674    Sunday
2 2022-04-16 12:29:14.937674  Saturday
3 2022-04-15 12:29:14.937674    Friday
4 2022-04-14 12:29:14.937674  Thursday

In [22]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7
    
    
}

In [23]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [26]:
#Weekday column will be mapped with the corresponding dictionary values and will be stored in weekday_original column

data['weekday_ordinal']=data['weekday'].map(dictionary)

In [27]:
data

                          Day    weekday  weekday_ordinal
0  2022-04-18 12:29:14.937674     Monday                1
1  2022-04-17 12:29:14.937674     Sunday                7
2  2022-04-16 12:29:14.937674   Saturday                6
3  2022-04-15 12:29:14.937674     Friday                5
4  2022-04-14 12:29:14.937674   Thursday                4
5  2022-04-13 12:29:14.937674  Wednesday                3
6  2022-04-12 12:29:14.937674    Tuesday                2
7  2022-04-11 12:29:14.937674     Monday                1
8  2022-04-10 12:29:14.937674     Sunday                7
9  2022-04-09 12:29:14.937674   Saturday                6
10 2022-04-08 12:29:14.937674     Friday                5
11 2022-04-07 12:29:14.937674   Thursday                4
12 2022-04-06 12:29:14.937674  Wednesday                3
13 2022-04-05 12:29:14.937674    Tuesday                2
14 2022-04-04 12:29:14.937674     Monday                1